<form id="editProfileForm" method="post">
    <div class="edit-profile-container">
        <h1><br/>Edit Profile</h1>
            <div class="profile-photo-section">
                <div class="image-upload-container" id="profile-photo-container">
                    <img src="https://placehold.co/180x180" alt="Profile photo" id="profile-photo-preview">
                    <div class="image-upload-overlay">
                        <span>Change Profile Photo</span>
                    </div>
                    <input type="file" id="profile-photo"  accept="image/*" name="profile-photo" class="image-upload-input">
                </div>
            </div>

            <label for="name">Username: </label>
            <input type="text" id="name" name="name" placeholder="imtheone">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="email@example.com">

            <label for="bio">Bio:</label>
            <textarea id="bio" name="bio" rows="4" placeholder="Bio information..."></textarea>

            <label for="education">Education: </label>
            <input type="text" id="education" name="education" placeholder="Education">

            <label for="city">City: </label>
            <input type="text" id="city" name="city" placeholder="City">

            <button id="edit-save-button" type="submit">Save Changes</button>
    </div>
</form>
<button id="change-password-button">Change Password</button>
<div id="change-password-popup" class="change-password-popup">
    <div class="change-password-content">
        <span class="close-button" id="close-change-password">&times;</span>
        <h2>Change Password</h2>
        <form id="changePasswordForm" method="post">
            <label for="current-password">Current Password:</label>
            <input type="password" id="current-password" name="current-password" required>

            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="new-password" required>

            <label for="confirm-new-password">Confirm New Password:</label>
            <input type="password" id="confirm-new-password" name="confirm-new-password" required>

            <button type="submit">Update Password</button>
        </form>
    </div>


