.edit-profile-container, h1, .edit-profile-container input, .edit-profile-container label, textarea {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-profile-container {
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  max-width: 768px;
  margin: 0 auto; /* Centers the container with margin on all sides */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.edit-profile-container h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 40px;
}
.edit-profile-container label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}
.edit-profile-container input, .edit-profile-container textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 20px;
  resize: vertical;
}
#edit-save-button {
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
  align-self: center;
}
#edit-save-button:hover {
  background-color: #0094FF;
}
.image-upload-container {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-upload-container img {
  width: 40%;
  height: auto;
}
.image-upload-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.image-upload-container:hover .image-upload-overlay {
  opacity: 1;
}
.image-upload-input {
  display: none;
}

