@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    font-family: "Dosis", sans-serif;
}
.html {
    scroll-behavior: smooth;
}

.list-label{
    display:flex;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
    color: white;
    text-shadow: 3px 4px 5px #000;
}

.condo-list{
    display: flex;
    justify-content: center;
}

.condo-list > a > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    width: 250px;
    height: 450px;
    border-radius: 25px;
    margin: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
}

.condo-description-container, .condo-name-container{
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.condo-image-container{
    width: 100%;
}

.condo-list-img{
    border-radius: 25px 25px 0 0;
    max-height: 150px;
    min-height: 150px;
    width: 100%;
}

.condo-list h2 {
    margin-bottom: 0;
}

.main-image{
    background-image: url('images/home-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 704px;
    
    display: flex;
    flex-direction:column;
}

.title{
    display: flex;
    height: 70%;
    justify-content: center;
    color: white;
}
.height{
    height:1000px;
}
.search-bar{
    display: flex;
    justify-content: center;
}
.search-bar > form > input{
    width: 600px;
    height: 30px;
    border-radius: 20px 0 0 20px;
    padding: 20px;
}
.search-bar > form > button{
    height: 70px;
    padding: 25px;
    width: 100px;
    margin-left: -6px;
    border-radius: 0 20px 20px 0;
    
}
.title-bold{
    font-style: italic;
    font-size: 90px;
    padding-top: 250px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: normal;
    text-shadow: 3px 4px 5px #000;
}

.footerbottom {
    background-color: #2B2B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80px;
    padding: 10px;
}

.contactfooter {
    max-height: 80px;
    display: grid;
    place-items: center;
    color: white;
}

.contactfooter h6, .contactfooter h7 {
    text-align: center;
}

.nav-dropdown {
    display: none;
    position: absolute;
    background-color: #2B2B2B;
    color: white;
    max-width: 120px;
    right: 0;
    top: 100%;
    z-index: 1;
}

.icon.highlighted .nav-dropdown {
    display: block;
}

.nav-dropdown-item {
    padding: 10px;
}

.nav-dropdown-item:hover {
    background-color: gray;
}

.filterclass {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
} 
  
.filterclass select {
    width: 130px; 
    padding: 6px;
    font-size: 14px;
    font-family: 'Libre Franklin', sans-serif;
    border: 1px solid #ccc;
    color: white;
    border-radius: 5px;
    appearance: none; 
    -webkit-appearance: none; 
    cursor: pointer;
    background-color: #434141;
}

.filterinput button {
    width: 65px; 
    padding: 6px;
    font-size: 14px;
    font-family: 'Libre Franklin', sans-serif;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
    appearance: none; 
    -webkit-appearance: none; 
    cursor: pointer;
    background-color: white;
}

.filterclass label{
    color: white;
}
  