@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body, h1, h2, p, ul, li, .profile-container div, img {
  font-family: "Dosis", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.edit-post{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  z-index: 9998;
  background-color: yellow;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.submit-button{
  border-radius: 50px;
  background-color:#2395db;
  color: white;
}

.exit-edit-post:hover{
  cursor: pointer;
}

.exit-edit-post{
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 25px;
}

.edit-post div{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.cover-photo {
  height: 280px;
  background-color: #3b5998;
  background-image: url('images/cover.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-container {
  font-family: "Dosis", sans-serif;
  width: 70%;
  margin: -120px auto 30px auto;
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: auto;
  display: flex;
  justify-content: space-between;
}
.profile-picture {
  float: left;
  width: 180px;
  height: 180px;
  margin-right: 20px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-name {
  font-size: 32px;
  color: #333;
  margin-top: 100px;
  display: flex;
  align-items: center;
}
.profile-name .verified-checkmark {
  display: inline-block;
  color: #1DA1F2;
  margin-left: 8px;
  font-size: 24px;
}
.friend-count {
  font-size: 16px;
  color: #666;
}
.profile-nav {
  clear: both;
  padding-top: 20px;
}
.profile-nav ul {
  list-style: none;
  padding: 0;
}
.profile-nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: 16px;
  color: #4b4f56;
}
.profile-nav ul li a {
  text-decoration: none;
  color: #4b4f56;
}
.profile-info {
  padding: 20px 0;
  border-top: 1px solid #ccc;
  padding-right: 20px;
  width: 35%;
}
.posts-section {
  font-family: "Dosis", sans-serif;
  width: 60%;
  padding-left: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.info-title, .post-title, .photos-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.info-item {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}
.post {
  background: #f0f2f5;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-profile{
background: none;
border: none;
}
.post button{
width: 100%;
border-radius: 3px;
}
.edit-delete-icons {
display: flex;
justify-content: right;
align-items: center;
gap: 5px; /* Space between buttons */
}
.edit-icon-btn, .delete-icon-btn {
border: none;
background: none;
color: #555; /* Adjust color as needed */
cursor: pointer;
}
.edit-icon-btn:hover, .delete-icon-btn:hover {
color: #000; /* Change color on hover */
}
















.review-header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.review-header-left {
  display: flex;
  flex-direction: column;
}

.review-header-right {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.establishment-response-container {
  background-color: rgb(240, 240, 235);
  border-radius: 25px;
  font-size: 12px;
  padding: 20px;
}

.establishment-response-container > p {
  padding: 10px;
}

.establishment-response-container > b {
  font-size: 15px;
}


.review-header svg {
  width: 20px;
  height: 20px;
  padding: 0;
}

.review-header h3 {
  font-size: 22px;
  margin: 0;
}
.review-header p {
  font-size: 12px;
}

.star-on {
  fill: #ffcc00;
}

.star-off {
  fill: lightgray;
}

.grid-item {
  background-color: #f0f2f5;
  justify-self: center;
  height: fit-content;
  margin: 15px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.review-body {
  display: flex;
  gap: 20px;
}
.review-body p {
  margin: 0;
  font-size: 14px;
}
.review-body > img {
  width: auto;
  height: 180px;
  border-radius: 10px;
}

.review-picture{
  height: auto;
}


.review-picture > img{
  max-width: 100%;
  border-radius: 10px;
}


.review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

a:hover {
  color: #2395db;
  cursor: pointer;
}

.review-profile, .owner-profile{
  display: flex;
  align-items: center;
  gap: 15px;
}

.owner-profile img, .review-profile img {
  height: 40px;
  border-radius: 50%;
}


.react-post {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: right;
}
.icon-like {
  display: flex;
  gap: 2px;
  justify-content: right;
}
.icon-like button {
  background: none;
  border: none;
}
.fa-thumbs-up:hover {
  color: #1877F2;
}
.fa-thumbs-down:hover {
  color: rgb(229, 55, 55);
}
.clicked {
  color: #1877F2; 
}

.pop-up-body {
  gap: 20px;
}
#editReviewForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
#editReviewForm > input {
  width: 60%;
  text-align: center;
}
#editReviewForm > textarea {
  width: 90%;
}
/* stars in review */
.star-rating-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: 0;
}

form > .star-rating svg {
  width: 24px;
  height: 24px;
}

.star-rating-button:focus {
  outline: none;
}

.star-rating-button .ipc-icon {
  width: 24px;
  height: 24px;
  fill: #ccc;
}

.star-rating-button.active .ipc-icon {
  fill: #ffcc00;
}

.star-rating-button:hover .ipc-icon {
  fill: #ffcc00;
}


/* Optional: Adjust styles for comment title */
.comment-title {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.comment {
  background-color: #f0f2f5;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  padding: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.comment img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.comment .comment-right {
  flex: 1; /* Allow the comment content to occupy remaining space */
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment .comment-right > div {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center elements vertically */
}

.comment .comment-right > div a {
  text-decoration: none;
  color: #333;
}

.comment .comment-right > div span {
  color: #666;
  font-size: 12px; /* Adjust font size as needed */
}

.comment .comment-right > div span.verified-checkmark {
  font-size: 16px;
}

.comment .comment-right > div p {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.comment .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/*  */